server:
  port: 8011
  servlet:
    context-path: /paiya-transactionmanager/api


spring:
  # Database
  data:
    mongodb:
      host: localhost
      port: 27017
      database: paiya_accountmanager
      username: ${PAIYA_DB_USERNAME:paiya}
      password: ${PAIYA_DB_PASSWORD:paiya}
  cloud:
    config:
      enabled: false
